body {
  font-family: verdana;
  background-color: #000000;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

p {
  color:gray;
  text-align: right;
  color grey
}

h2 {
  text-align: center;
  font-size: 21px;
  color: grey;
}

.linked {
  color: aquamarine;
  font-size: 16px;
}
